<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My Web App{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            Navigation:
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('recipes') }}">All Recipes</a></li>
            <li><a href="{{ url_for('new_recipe') }}">Add Recipes</a></li>
        </ul>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
